.cell { width: 100px; height: 100px}
.wall { background: black }
.start { background: hotpink }
.finish { background: green }

div,h1,h2,h3,p { font-family: 'Dosis', sans-serif; } 
h1 b { font-weight: 800; text-decoration: underline }

.header img { max-width: 80%; }
.header { border-bottom: none; }

.player {
  border: solid black 1px;
  border-radius: 100%;
  padding: 10px;
  margin: 5px;
  display: inline-block
}
